.sidebar h4 {
    font-size: 23px;
    font-weight: bold;
    margin-top: 75px;
    margin-bottom: 20px;
}

.sidebar h4.department {
    margin-top: 0;
}



.sidebar ul {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    list-style-type: none;
}

.sidebar ul li {
    padding: 5px 0;
}

.sidebar ul li a {
    color: #585353;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #7abf2b;
}


.price-range-wrap {
    background-color: #ffffff; /* Điều chỉnh màu nền */
    color: #333; /* Điều chỉnh màu chữ */
    padding: 10px; /* Điều chỉnh padding */
    margin: 10px 0; /* Điều chỉnh margin */
}

.price-range-wrap .ui-slider-horizontal {
    background-color: #e3e3e3; /* Màu nền ban đầu của thanh trượt */
}

.price-range-wrap .ui-slider-range {
    background-color: #37b848; /* Màu nền của phần thanh trượt được tô màu */
}

.price-range-wrap .ui-slider-handle {
    background-color: #ffffff; /* Màu nền ban đầu của điểm điều chỉnh */
    border-radius: 100%;
    border: 2px solid #37b848; /* Viền của điểm điều chỉnh */
}

.price-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}



.price-input input[readonly] {
    border: none; /* Ẩn viền */
    background-color: transparent; /* Ẩn nền */
    color: #333; /* Điều chỉnh màu chữ */
    text-align: center; /* Căn giữa chữ */
    outline: none; /* Ẩn khung đen khi bấm vào */
    width: 50px;
}



input[type="checkbox"] {
    display: none;          /* Áp dụng cho cả item3 và item4*/
}

.sidebar__item__3__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
  
.sidebar__item__3__container label {
    display: flex;
    justify-content: center;
    font-size: 17px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
}
  
input[type="checkbox"]:checked + .sidebar__item__yellow {
    border-color: rgb(255, 213, 0);
    background-color: #ffff00;
}
  
input[type="checkbox"]:checked + .sidebar__item__green {
    border-color: rgb(35, 193, 4);
    background-color: #12e212c1;
}
  
input[type="checkbox"]:checked + .sidebar__item__orange {
    border-color: rgb(230, 100, 8);
    background-color: #ffa500;
}
  
input[type="checkbox"]:checked + .sidebar__item__red {
    border-color: rgb(190, 2, 2);
    background-color: #ff0000c5;
}
  
input[type="checkbox"]:checked + .sidebar__item__blue {
    border-color: rgb(4, 33, 249);
    background-color: #0f74f8b6;
}
  
input[type="checkbox"]:checked + .sidebar__item__pink {
    border-color: rgb(227, 12, 239);
    background-color: #ffc0cb;
}



.sidebar__item__4__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
  
.sidebar__item__4 label {
    display: flex;
    justify-content: center;
    font-size: 17px;
    padding: 5px;
    border: 2px solid #dedede;
    cursor: pointer;
  }

.sidebar__item__4 input[type="checkbox"]:checked + label {
    border-color: #79cf16;
    background-color: #7edf1720;
}



.sidebar__item__5 .latest-product__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebar__item__5 .latest-product__item__pic {
    flex: 0 0 60px;
    margin-right: 10px;
}

.latest-product__item,
.latest-product__item__text {
    color: #585353;
    font-weight: bold;
}

.latest-product__item:hover,
.latest-product__item__text:hover {
    color: #79cf16;
}
