body {
	font-family: 'FontName', sans-serif; /* Thay 'FontName' bằng tên của font chữ bạn muốn sử dụng */
  }

.section-title {
	width: 100%;
	margin-bottom: 50px;
}
.title-Text{
	margin-top: 30px;
	width: 100%;
	/* text-align: center; */
}
.section-title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}

.section-title h2:after {
	position: absolute;
	left: 0;
	bottom: -5px;
	right: 0;
	height: 2px;
	width: 80px;
	background: #7fad39;
	content: "";
	margin: 0 auto;
}

.custom-borderButton {
	width: 100%;
	/* position: absolute; */
	/* left: 0;
	bottom: -15px;
	right: 0;
	height: 4px; */
	height: 0.5px;
	background: #ebe9e9;
	content: "";
	/* margin: 0 auto; */
}

/*---------------------
  Shop Grid
-----------------------*/
.product {
	padding-top: 80px;
	padding-bottom: 80px;
}

.product__discount {
	padding-bottom: 50px;
}

.product__discount__title {
	text-align: left;
	margin-bottom: 65px;
}

.product__discount__title h2 {
	display: inline-block;
}

.product__discount__title h2:after {
	margin: 0;
	width: 100%;
}

.product__discount__item__pic {
	padding: 20px;
	height: 300px;
	width: 100%;
	background-color: rgb(237, 242, 249);
}

.product__discount__item__pic .imgSaleOff{
	width: 100%; 
    height: 100%; 
	object-fit: contain;
}
.product__discount__item__text {
	text-align: center;
	padding-top: 20px;
	background-color: white;
}

.product__discount__item__text span {
	font-size: 14px;
	color: #b2b2b2;
	display: block;
	margin-bottom: 4px;
}

.product__discount__item__text h5 {
	margin-bottom: 6px;
}

.product__discount__item__text h5 a {
	color: #1c1c1c;
}

.product__discount__item__text .product__item__price {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
}

.product__discount__item__text .product__item__price span {
	display: inline-block;
	font-weight: 400;
	text-decoration: line-through;
	margin-left: 10px;
}

.product__discount__slider .col-lg-4 {
	max-width: 100%;
}


.product__discount__slider.owl-carousel .owl-dots {
	text-align: center;
	margin-top: 30px;
}

.product__discount__slider.owl-carousel .owl-dots button {
	height: 12px;
	width: 12px;
	border: 1px solid #b2b2b2;
	border-radius: 50%;
	margin-right: 12px;
}

.product__discount__slider.owl-carousel .owl-dots button.active {
	background: #707070;
	border-color: #6f6f6f;
}

.product__discount__slider.owl-carousel .owl-dots button:last-child {
	margin-right: 0;
} 

.bi{
	color:black;
}
.product__item__text {
	text-align: center;
	padding-top: 15px;
}

.product__item__text h6 {
	margin-bottom: 10px;
}

.product__item__text h6 a {
	color: #252525;
}

.product__item__text h5 {
	color: #252525;
	font-weight: 700;
}
.product__item__pic__hover {
	pointer-events: auto;
	position: absolute;
	left: -10px;
	bottom: 20px;
	width: 100%;
	text-align: center;
	justify-content: center;
	-webkit-transition: all, 0.4s;
	-moz-transition: all, 0.4s;
	-ms-transition: all, 0.4s;
	-o-transition: all,0.4s;
	transition: all, 0.4s;
	z-index: 1;
}
.product__discount__item__text{
	position: relative;
	z-index: 3;
}
.product__discount__item:hover .product__item__pic__hover {
	bottom: 110px;

}
.product__item__pic__hover li:hover a {
    transform: rotate(360deg);
    transition: transform 0.3s ease; /* Thêm transition để tạo hiệu ứng xoay mềm mại */
}
.product__item__pic__hover .bi {
    font-size: 20px;
}

.product__item__pic__hover li {
	list-style: none;
	display: inline-block;
	margin-right:26px; 
}

.product__item__pic__hover a {
    display: inline-block;
    position: relative;
}

.product__item__pic__hover   a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
	width: 45px;
    height: 45px;
    background-color:white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all 0.3s ease;
	transition: width 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
	z-index: -1;
}

.product__item__pic__hover li:hover a:before {
    width: 40px;
    height: 40px;
	background-color:rgb(96, 240, 108);
    opacity: 1;
	transition:background-color 1s ease;
}



.product__pagination a,
.blog__pagination a {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #b2b2b2;
	font-size: 14px;
	color: #b2b2b2;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
	margin-right: 16px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__pagination a:hover,
.blog__pagination a:hover {
	background: #7fad39;
	border-color: #7fad39;
	color: #ffffff;
}

.product__pagination a:last-child,
.blog__pagination a:last-child {
	margin-right: 0;
}

/* product 





*/
.product__item__pic{
	padding: 20px;
	height: 300px;
	width: 100%;
	background-color: #F3F6FB;
}
/* .product__item__pic__hover{
	z-index: -1;
} */
.product__item__text{
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background-color:white;
	position: relative;
	z-index: 3;
}
.product__item:hover .product__item__pic__hover {
	bottom: 120px;
	z-index: 1;
}
.imgProduct{
	width: 100%; 
    height: 100%; 
	object-fit: contain;
}
/* filter */
.filter__found{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
/* sale off percentage */
.sale-Off-Percentage-Img{
	position: absolute;
	/* / */
	width:20%!important;
	top:  5%;
	/* transform: translate(-30%, -90%); */
	animation: blink 0.2s infinite alternate;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.9; }
    100% { opacity: 0.5; }
}